# Construção da ABT
_ABT - Analytical Base Table_

---

## Sumário

1. **Importação da bibliotecas**
2. **Criação e iniciação de uma sessão PySpark**
3. **Criação dos datasets a partir da leitura dos arquivos \*.csv e \*.json**
    - 3.1. Arquivos CSV
    - 3.2. Arquivos JSON
4. **Análise dos dados**
5. **Construção da ABT**

<br>

---

<br>

## 1. Importação de bibliotecas

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, col, expr, count, lit
import json
import csv

## 2. Criação e iniciação de uma sessão PySpark

In [2]:
appName = 'ABT - Transações de clientes'

# O objeto SparkSession configurado com configurações específicas
spark = SparkSession.builder \
    .appName(appName) \
    .config('spark.driver.memory', '8g') \
    .config('spark.executor.memory', '8g') \
    .config('spark.master', 'local[*]') \
    .getOrCreate()
    
spark.sparkContext.setLogLevel('ERROR')

spark

## 3. Criação dos datasets a partir da leitura dos arquivos *.csv e *.json

In [3]:
# Caminho dos arquivos *.csv e *.json
caminho = 'dados/'

### 3.1. Arquivos CSV

- cards_data.csv

In [4]:
# Dados de cartão de crédito
df_cards = spark.read.csv(caminho + 'cards_data.csv', header=True, inferSchema=True)

# Exibir o esquema do dataframe
df_cards.printSchema()

root
 |-- id: integer (nullable = true)
 |-- client_id: integer (nullable = true)
 |-- card_brand: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- card_number: long (nullable = true)
 |-- expires: string (nullable = true)
 |-- cvv: integer (nullable = true)
 |-- has_chip: string (nullable = true)
 |-- num_cards_issued: integer (nullable = true)
 |-- credit_limit: string (nullable = true)
 |-- acct_open_date: string (nullable = true)
 |-- year_pin_last_changed: integer (nullable = true)
 |-- card_on_dark_web: string (nullable = true)

- transactions_data.csv

In [5]:
# Dados de transações
df_transactions = spark.read.csv(caminho + 'transactions_data.csv', header=True, inferSchema=True)

# Exibir o esquema do dataframe
df_transactions.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- client_id: integer (nullable = true)
 |-- card_id: integer (nullable = true)
 |-- amount: string (nullable = true)
 |-- use_chip: string (nullable = true)
 |-- merchant_id: integer (nullable = true)
 |-- merchant_city: string (nullable = true)
 |-- merchant_state: string (nullable = true)
 |-- zip: double (nullable = true)
 |-- mcc: integer (nullable = true)
 |-- errors: string (nullable = true)

- users_data.csv

In [6]:
# Dados de clientes
df_clients = spark.read.csv(caminho + 'users_data.csv', header=True, inferSchema=True)

# Exibir o esquema do dataframe
df_clients.printSchema()

root
 |-- id: integer (nullable = true)
 |-- current_age: integer (nullable = true)
 |-- retirement_age: integer (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- birth_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- address: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- per_capita_income: string (nullable = true)
 |-- yearly_income: string (nullable = true)
 |-- total_debt: string (nullable = true)
 |-- credit_score: integer (nullable = true)
 |-- num_credit_cards: integer (nullable = true)

### 3.2. Arquivos JSON

In [7]:
def process_json_to_csv(json_path, csv_path, list_columns, one_column=None):
    '''
    Processa um arquivo JSON e converte em CSV.

    :param json_path: path + filename.json
        Caminho do arquivo JSON de entrada.
    :param csv_path: path + filename.csv
        Caminho do arquivo CSV de saída.
    :param list_columns: list
        Lista com os nomes das colunas do CSV.
    :param one_column: string (default=None)
        Nome da chave no JSON para acessar dados aninhados (opcional).
    '''
    # Carregar o arquivo JSON
    with open(json_path, 'r', encoding='utf-8') as json_file:
        data = json.load(json_file)
        
    if not data:
        print('Arquivo JSON está vazio.')
        return
    
    # Processar dados aninhados, se necessário
    if one_column:
        data = data.get(one_column, {})
        if not data:
            print(f'A chave \'{one_column}\' não foi encontrada ou está vazia no JSON.')
            return
        print(f'Dados extraídos da chave \'{one_column}\'.')
    else:
        print('Processando JSON sem dados aninhados.')

    # Escrever o CSV
    with open(csv_path, 'w', encoding='utf-8', newline='') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(list_columns)  # Escrevendo o cabeçalho
        
        for key, value in data.items():
            writer.writerow([key, value])  # Escrevendo as linhas
    
    print(f'Arquivo CSV gerado com sucesso em {csv_path}.')

- mcc_codes.json

In [8]:
# Processar mcc_codes.json
json_path = caminho + 'mcc_codes.json'
csv_path = caminho + 'mcc_codes.csv'
list_columns = ['code', 'description']
process_json_to_csv(json_path, csv_path, list_columns)

Processando JSON sem dados aninhados.
Arquivo CSV gerado com sucesso em dados/mcc_codes.csv.

In [9]:
# Dados de códigos de categoria de mercadorias
df_mcc = spark.read.csv(caminho + 'mcc_codes.csv', header=True, inferSchema=True)

# Exibir o esquema do dataframe
df_mcc.printSchema()

root
 |-- code: integer (nullable = true)
 |-- description: string (nullable = true)

- train_fraud_labels.json

In [10]:
# Processar train_fraud_labels.json
json_path = caminho + 'train_fraud_labels.json'
csv_path = caminho + 'train_fraud_labels.csv'
list_columns = ['transaction_id', 'is_fraud']
one_column = 'target'
process_json_to_csv(json_path, csv_path, list_columns, one_column)

Dados extraídos da chave 'target'.
Arquivo CSV gerado com sucesso em dados/train_fraud_labels.csv.

In [11]:
# Dados de rótulos de fraude
df_train_fraud = spark.read.csv(caminho + 'train_fraud_labels.csv', header=True, inferSchema=True)

# Exibir o esquema do dataframe
df_train_fraud.printSchema()

root
 |-- transaction_id: integer (nullable = true)
 |-- is_fraud: string (nullable = true)

## 4. Análise dos dados

- Volumetria dos dataframes

In [12]:
def dataframe_volumetry(df, df_name):
    '''
    Exibe a quantidade de linhas e colunas de um dataframe.
    
    :param df: DataFrame
        O dataframe a ser analisado.
    :param df_name: string
        Nome do dataframe a ser analisado.
    '''
    print(f'Volumetria do \033[3m{df_name}\033[0m')
    print(f'Linhas: {df.count()}')
    print(f'Colunas: {len(df.columns)}\n')

In [13]:
dataframe_volumetry(df_cards, 'df_cards')
dataframe_volumetry(df_transactions, 'df_transactions')
dataframe_volumetry(df_clients, 'df_clients')
dataframe_volumetry(df_mcc, 'df_mcc')
dataframe_volumetry(df_train_fraud, 'df_train_fraud')

Volumetria do df_cards
Linhas: 6146
Colunas: 13

Volumetria do df_transactions
Linhas: 13305915
Colunas: 12

Volumetria do df_clients
Linhas: 2000
Colunas: 14

Volumetria do df_mcc
Linhas: 109
Colunas: 2

Volumetria do df_train_fraud
Linhas: 8914963
Colunas: 2

- Criação de Views temporárias para cada dataframe

In [14]:
df_cards.createOrReplaceTempView('tb_cards')
df_clients.createOrReplaceTempView('tb_clients')
df_mcc.createOrReplaceTempView('tb_mcc')
df_train_fraud.createOrReplaceTempView('tb_train_fraud')
df_transactions.createOrReplaceTempView('tb_transactions')

- Visualizando os dados da tb_cards

In [15]:
df_cards.show(10, truncate=False)

+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
|id  |client_id|card_brand|card_type      |card_number     |expires|cvv|has_chip|num_cards_issued|credit_limit|acct_open_date|year_pin_last_changed|card_on_dark_web|
+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
|4524|825      |Visa      |Debit          |4344676511950444|12/2022|623|YES     |2               |$24295      |09/2002       |2008                 |No              |
|2731|825      |Visa      |Debit          |4956965974959986|12/2020|393|YES     |2               |$21968      |04/2014       |2014                 |No              |
|3701|825      |Visa      |Debit          |4582313478255491|02/2024|719|YES     |2               |$46414      |07/2003       |2004                 |No              |
|42  |825      |Visa      |Credit         |4879494103069057|08/2024|693|NO      |1               |$12400      |01/2003       |2012                 |No              |
|4659|825      |Mastercard|Debit (Prepaid)|5722874738736011|03/2009|75 |YES     |1               |$28         |09/2008       |2009                 |No              |
|4537|1746     |Visa      |Credit         |4404898874682993|09/2003|736|YES     |1               |$27500      |09/2003       |2012                 |No              |
|1278|1746     |Visa      |Debit          |4001482973848631|07/2022|972|YES     |2               |$28508      |02/2011       |2011                 |No              |
|3687|1746     |Mastercard|Debit          |5627220683410948|06/2022|48 |YES     |2               |$9022       |07/2003       |2015                 |No              |
|3465|1746     |Mastercard|Debit (Prepaid)|5711382187309326|11/2020|722|YES     |2               |$54         |06/2010       |2015                 |No              |
|3754|1746     |Mastercard|Debit (Prepaid)|5766121508358701|02/2023|908|YES     |1               |$99         |07/2006       |2012                 |No              |
+----+---------+----------+---------------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+
only showing top 10 rows

- Visualizando os dados da tb_clients

In [16]:
df_clients.show(10, truncate=False)

+----+-----------+--------------+----------+-----------+------+------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
|id  |current_age|retirement_age|birth_year|birth_month|gender|address                 |latitude|longitude|per_capita_income|yearly_income|total_debt|credit_score|num_credit_cards|
+----+-----------+--------------+----------+-----------+------+------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
|825 |53         |66            |1966      |11         |Female|462 Rose Lane           |34.15   |-117.76  |$29278           |$59696       |$127613   |787         |5               |
|1746|53         |68            |1966      |12         |Female|3606 Federal Boulevard  |40.76   |-73.74   |$37891           |$77254       |$191349   |701         |5               |
|1718|81         |67            |1938      |11         |Female|766 Third Drive         |34.02   |-117.89  |$22681           |$33483       |$196      |698         |5               |
|708 |63         |63            |1957      |1          |Female|3 Madison Street        |40.71   |-73.99   |$163145          |$249925      |$202328   |722         |4               |
|1164|43         |70            |1976      |9          |Male  |9620 Valley Stream Drive|37.76   |-122.44  |$53797           |$109687      |$183855   |675         |1               |
|68  |42         |70            |1977      |10         |Male  |58 Birch Lane           |41.55   |-90.6    |$20599           |$41997       |$0        |704         |3               |
|1075|36         |67            |1983      |12         |Female|5695 Fifth Street       |38.22   |-85.74   |$25258           |$51500       |$102286   |672         |3               |
|1711|26         |67            |1993      |12         |Male  |1941 Ninth Street       |45.51   |-122.64  |$26790           |$54623       |$114711   |728         |1               |
|1116|81         |66            |1938      |7          |Female|11 Spruce Avenue        |40.32   |-75.32   |$26273           |$42509       |$2895     |755         |5               |
|1752|34         |60            |1986      |1          |Female|887 Grant Street        |29.97   |-92.12   |$18730           |$38190       |$81262    |810         |1               |
+----+-----------+--------------+----------+-----------+------+------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+
only showing top 10 rows

- Visualizando os dados da tb_mcc

In [17]:
df_mcc.show(10, truncate=False)

+----+------------------------------------------+
|code|description                               |
+----+------------------------------------------+
|5812|Eating Places and Restaurants             |
|5541|Service Stations                          |
|7996|Amusement Parks, Carnivals, Circuses      |
|5411|Grocery Stores, Supermarkets              |
|4784|Tolls and Bridge Fees                     |
|4900|Utilities - Electric, Gas, Water, Sanitary|
|5942|Book Stores                               |
|5814|Fast Food Restaurants                     |
|4829|Money Transfer                            |
|5311|Department Stores                         |
+----+------------------------------------------+
only showing top 10 rows

- Visualizando os dados da tb_train_fraud

In [18]:
df_train_fraud.show(10, truncate=False)

+--------------+--------+
|transaction_id|is_fraud|
+--------------+--------+
|10649266      |No      |
|23410063      |No      |
|9316588       |No      |
|12478022      |No      |
|9558530       |No      |
|12532830      |No      |
|19526714      |No      |
|9906964       |No      |
|13224888      |No      |
|13749094      |No      |
+--------------+--------+
only showing top 10 rows

- Visualizando os dados da tb_transactions

In [19]:
df_transactions.show(10, truncate=False)

+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+
|id     |date               |client_id|card_id|amount |use_chip          |merchant_id|merchant_city|merchant_state|zip    |mcc |errors|
+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+
|7475327|2010-01-01 00:01:00|1556     |2972   |$-77.00|Swipe Transaction |59935      |Beulah       |ND            |58523.0|5499|NULL  |
|7475328|2010-01-01 00:02:00|561      |4575   |$14.57 |Swipe Transaction |67570      |Bettendorf   |IA            |52722.0|5311|NULL  |
|7475329|2010-01-01 00:02:00|1129     |102    |$80.00 |Swipe Transaction |27092      |Vista        |CA            |92084.0|4829|NULL  |
|7475331|2010-01-01 00:05:00|430      |2860   |$200.00|Swipe Transaction |27092      |Crown Point  |IN            |46307.0|4829|NULL  |
|7475332|2010-01-01 00:06:00|848      |3915   |$46.41 |Swipe Transaction |13051      |Harwood      |MD            |20776.0|5813|NULL  |
|7475333|2010-01-01 00:07:00|1807     |165    |$4.81  |Swipe Transaction |20519      |Bronx        |NY            |10464.0|5942|NULL  |
|7475334|2010-01-01 00:09:00|1556     |2972   |$77.00 |Swipe Transaction |59935      |Beulah       |ND            |58523.0|5499|NULL  |
|7475335|2010-01-01 00:14:00|1684     |2140   |$26.46 |Online Transaction|39021      |ONLINE       |NULL          |NULL   |4784|NULL  |
|7475336|2010-01-01 00:21:00|335      |5131   |$261.58|Online Transaction|50292      |ONLINE       |NULL          |NULL   |7801|NULL  |
|7475337|2010-01-01 00:21:00|351      |1112   |$10.74 |Swipe Transaction |3864       |Flushing     |NY            |11355.0|5813|NULL  |
+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+
only showing top 10 rows

## 5. Construção da ABT

- Alterando o nome das colunas de identificação dos dataframes

In [20]:
df_cards = df_cards.withColumnRenamed('id', 'id_card')
df_cards = df_cards.withColumnRenamed('client_id', 'client_id_card')
df_clients = df_clients.withColumnRenamed('id', 'id_client')

- Executando o _join_ entre os dataframes

In [21]:
abt_01 = df_transactions \
    .join(df_cards, df_transactions['card_id'] == df_cards['id_card'], how='inner') \
    .join(df_clients, df_transactions['client_id'] == df_clients['id_client'], how='inner') \
    .join(df_mcc, df_transactions['mcc'] == df_mcc['code'], how='inner') \
    .join(df_train_fraud, df_transactions['id'] == df_train_fraud['transaction_id'], how='left')

In [22]:
abt_01.show(20, truncate=False)

+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+--------------+--------+-------+--------------+----------+---------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+---------+-----------+--------------+----------+-----------+------+----------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+----+------------------------------------------+
|id     |date               |client_id|card_id|amount |use_chip          |merchant_id|merchant_city|merchant_state|zip    |mcc |errors|transaction_id|is_fraud|id_card|client_id_card|card_brand|card_type|card_number     |expires|cvv|has_chip|num_cards_issued|credit_limit|acct_open_date|year_pin_last_changed|card_on_dark_web|id_client|current_age|retirement_age|birth_year|birth_month|gender|address                     |latitude|longitude|per_capita_income|yearly_income|total_debt|credit_score|num_credit_cards|code|description                               |
+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+--------------+--------+-------+--------------+----------+---------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+---------+-----------+--------------+----------+-----------+------+----------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+----+------------------------------------------+
|7475336|2010-01-01 00:21:00|335      |5131   |$261.58|Online Transaction|50292      |ONLINE       |NULL          |NULL   |7801|NULL  |NULL          |NULL    |5131   |335           |Visa      |Debit    |4414800408438414|06/2020|833|YES     |1               |$23401      |10/2008       |2011                 |No              |335      |46         |68            |1973      |7          |Female|75 Birch Lane               |26.74   |-80.12   |$27696           |$56467       |$66565    |688         |3               |7801|Athletic Fields, Commercial Sports        |
|7475338|2010-01-01 00:23:00|554      |3912   |$3.51  |Swipe Transaction |67570      |Pearland     |TX            |77581.0|5311|NULL  |7475338       |No      |3912   |554           |Visa      |Debit    |4096589319918041|04/2021|856|NO      |1               |$25658      |07/2009       |2009                 |No              |554      |59         |67            |1960      |8          |Male  |6310 Sixth Street           |29.66   |-95.04   |$26170           |$53357       |$114266   |690         |5               |5311|Department Stores                         |
|7475353|2010-01-01 00:43:00|301      |3742   |$10.17 |Online Transaction|39021      |ONLINE       |NULL          |NULL   |4784|NULL  |7475353       |No      |3742   |301           |Visa      |Credit   |4180974548713374|05/2023|975|YES     |1               |$21000      |07/2005       |2009                 |No              |301      |47         |69            |1972      |11         |Male  |6009 River Avenue           |34.24   |-84.49   |$25654           |$52308       |$135319   |679         |1               |4784|Tolls and Bridge Fees                     |
|7475356|2010-01-01 00:45:00|566      |3439   |$16.86 |Online Transaction|16798      |ONLINE       |NULL          |NULL   |4121|NULL  |NULL          |NULL    |3439   |566           |Mastercard|Credit   |5578674156872455|02/2023|118|YES     |1               |$11000      |06/2009       |2009                 |No              |566      |60         |67            |1959      |10         |Female|8179 Valley Stream Drive    |42.79   |-83.62   |$22680           |$46244       |$108449   |814         |5               |4121|Taxicabs and Limousines                   |
|7475365|2010-01-01 01:01:00|820      |127    |$270.22|Online Transaction|73186      |ONLINE       |NULL          |NULL   |4814|NULL  |7475365       |No      |127    |820           |Mastercard|Debit    |5738964942904646|11/2020|730|YES     |1               |$20759      |01/2007       |2009                 |No              |820      |70         |59            |1949      |12         |Female|669 South Street            |41.7    |-70.3    |$26762           |$41902       |$29713    |633         |5               |4814|Telecommunication Services                |
|7475379|2010-01-01 01:22:00|986      |4755   |$1.85  |Swipe Transaction |14528      |Garden City  |NY            |11530.0|5499|NULL  |7475379       |No      |4755   |986           |Visa      |Debit    |4947422352493090|01/2023|940|YES     |2               |$15094      |09/2009       |2011                 |No              |986      |32         |70            |1987      |7          |Male  |6577 Lexington Lane         |40.65   |-73.58   |$23550           |$48010       |$87837    |703         |3               |5499|Miscellaneous Food Stores                 |
|7475400|2010-01-01 01:54:00|597      |4540   |$14.20 |Swipe Transaction |66541      |San Francisco|CA            |94131.0|5300|NULL  |7475400       |No      |4540   |597           |Visa      |Debit    |4682047932663844|01/2023|822|YES     |2               |$76343      |09/2003       |2014                 |No              |597      |72         |66            |1948      |1          |Male  |5138 North Drive            |37.74   |-122.44  |$51692           |$65055       |$1676     |736         |6               |5300|Wholesale Clubs                           |
|7475417|2010-01-01 02:11:00|34       |1166   |$4.07  |Swipe Transaction |49789      |Sacramento   |CA            |95829.0|5541|NULL  |7475417       |No      |1166   |34            |Mastercard|Debit    |5039048842448184|11/2023|339|YES     |2               |$10775      |02/2009       |2010                 |No              |34       |41         |55            |1978      |8          |Male  |7467 Spruce Drive           |38.48   |-121.34  |$25431           |$51854       |$72162    |737         |2               |5541|Service Stations                          |
|7475419|2010-01-01 02:12:00|1424     |4710   |$2.31  |Swipe Transaction |95811      |Seligman     |AZ            |86337.0|5411|NULL  |7475419       |No      |4710   |1424          |Mastercard|Credit   |5033949193863455|05/2021|76 |YES     |2               |$8000       |09/2009       |2011                 |No              |1424     |101        |68            |1918      |5          |Female|887 Third Boulevard         |35.13   |-112.99  |$13086           |$15348       |$1396     |761         |4               |5411|Grocery Stores, Supermarkets              |
|7475432|2010-01-01 02:25:00|1214     |5508   |$51.58 |Online Transaction|98436      |ONLINE       |NULL          |NULL   |5192|NULL  |7475432       |No      |5508   |1214          |Visa      |Debit    |4968168260037253|05/2021|607|YES     |1               |$21073      |11/2007       |2011                 |No              |1214     |40         |64            |1979      |11         |Male  |83302 Valley Stream Lane    |42.06   |-71.24   |$35544           |$72470       |$133421   |711         |2               |5192|Books, Periodicals, Newspapers            |
|7475454|2010-01-01 02:57:00|1459     |3383   |$2.75  |Swipe Transaction |47756      |Albuquerque  |NM            |87121.0|5411|NULL  |NULL          |NULL    |3383   |1459          |Mastercard|Debit    |5197434740318528|08/2023|239|NO      |2               |$12708      |06/2008       |2008                 |No              |1459     |53         |65            |1967      |2          |Male  |9385 Birch Street           |35.11   |-106.62  |$15385           |$31369       |$0        |707         |3               |5411|Grocery Stores, Supermarkets              |
|7475464|2010-01-01 03:13:00|957      |4532   |$14.21 |Swipe Transaction |44795      |Marysville   |OH            |43040.0|3780|NULL  |7475464       |No      |4532   |957           |Mastercard|Debit    |5405712448987535|06/2020|515|NO      |1               |$27974      |09/2003       |2012                 |No              |957      |73         |64            |1946      |9          |Female|862 Martin Luther King Drive|39.17   |-77.26   |$33637           |$37789       |$24575    |605         |3               |3780|Computer Network Services                 |
|7475487|2010-01-01 04:05:00|1382     |2838   |$93.13 |Swipe Transaction |22014      |Dallas       |TX            |75253.0|4900|NULL  |NULL          |NULL    |2838   |1382          |Mastercard|Debit    |5947766191531250|10/2024|760|YES     |2               |$11415      |05/2003       |2013                 |No              |1382     |58         |65            |1961      |7          |Male  |16 Eighth Lane              |32.79   |-96.76   |$12693           |$25883       |$44404    |706         |4               |4900|Utilities - Electric, Gas, Water, Sanitary|
|7475495|2010-01-01 04:21:00|1635     |115    |$14.50 |Swipe Transaction |45501      |Jamaica      |NY            |11434.0|5912|NULL  |7475495       |No      |115    |1635          |Visa      |Debit    |4237044992015683|10/2022|443|YES     |2               |$24876      |01/2006       |2009                 |No              |1635     |54         |58            |1965      |3          |Male  |90 Sussex Drive             |40.68   |-73.78   |$20760           |$42332       |$75213    |616         |6               |5912|Drug Stores and Pharmacies                |
|7475501|2010-01-01 04:31:00|526      |5917   |$22.23 |Online Transaction|16798      |ONLINE       |NULL          |NULL   |4121|NULL  |7475501       |No      |5917   |526           |Visa      |Debit    |4186305659535998|11/2020|674|YES     |2               |$23001      |12/2007       |2013                 |No              |526      |51         |62            |1968      |3          |Female|54870 Lexington Drive       |25.77   |-80.2    |$31625           |$64481       |$114394   |627         |5               |4121|Taxicabs and Limousines                   |
|7475510|2010-01-01 04:49:00|1629     |4290   |$26.38 |Online Transaction|39021      |ONLINE       |NULL          |NULL   |4784|NULL  |NULL          |NULL    |4290   |1629          |Mastercard|Debit    |5366247073382596|04/2021|515|YES     |2               |$18776      |08/2009       |2012                 |No              |1629     |42         |63            |1977      |6          |Female|53789 Bayview Street        |26.14   |-80.13   |$14430           |$29422       |$58679    |598         |1               |4784|Tolls and Bridge Fees                     |
|7475564|2010-01-01 05:56:00|530      |3344   |$2.98  |Swipe Transaction |88646      |Colton       |CA            |92324.0|5812|NULL  |7475564       |No      |3344   |530           |Mastercard|Debit    |5919043204819594|02/2020|711|NO      |2               |$15061      |06/2007       |2007                 |No              |530      |78         |68            |1941      |7          |Male  |34533 Ninth Avenue          |34.06   |-117.39  |$14709           |$18100       |$0        |682         |6               |5812|Eating Places and Restaurants             |
|7475570|2010-01-01 06:00:00|1080     |2562   |$43.13 |Swipe Transaction |11468      |Macon        |GA            |31204.0|5970|NULL  |7475570       |No      |2562   |1080          |Mastercard|Debit    |5657550046539675|06/2021|692|YES     |1               |$1470       |04/2008       |2008                 |No              |1080     |56         |63            |1963      |11         |Female|4581 Eighth Boulevard       |32.19   |-83.17   |$14425           |$29413       |$46043    |703         |2               |5970|Artist Supply Stores, Craft Shops         |
|7475600|2010-01-01 06:08:00|1381     |3738   |$5.41  |Swipe Transaction |11264      |Mentor       |OH            |44060.0|5812|NULL  |7475600       |No      |3738   |1381          |Mastercard|Debit    |5382896062305963|11/2022|543|YES     |1               |$22964      |07/2005       |2011                 |No              |1381     |79         |68            |1940      |10         |Male  |1699 West Lane              |41.69   |-81.33   |$24878           |$29517       |$2470     |690         |4               |5812|Eating Places and Restaurants             |
|7475604|2010-01-01 06:09:00|1150     |4672   |$7.09  |Swipe Transaction |19464      |Hurst        |TX            |76054.0|5812|NULL  |7475604       |No      |4672   |1150          |Mastercard|Debit    |5770382684241108|06/2015|832|YES     |2               |$29486      |09/2008       |2008                 |No              |1150     |46         |67            |1973      |4          |Male  |5692 Jefferson Boulevard    |32.83   |-97.17   |$30913           |$63030       |$93406    |791         |5               |5812|Eating Places and Restaurants             |
+-------+-------------------+---------+-------+-------+------------------+-----------+-------------+--------------+-------+----+------+--------------+--------+-------+--------------+----------+---------+----------------+-------+---+--------+----------------+------------+--------------+---------------------+----------------+---------+-----------+--------------+----------+-----------+------+----------------------------+--------+---------+-----------------+-------------+----------+------------+----------------+----+------------------------------------------+
only showing top 20 rows

- Criação de View temporária para abt

In [23]:
abt_01.createOrReplaceTempView('tb_abt_01')

### 5.1. Análise de dados da ABT

- Panorama geral dos dados

In [51]:
query_01 = spark.sql('''
    SELECT
        YEAR(TO_DATE(date, 'yyyy-MM-dd')) AS ANO,
        COUNT(id) AS QTDE_TRANSACOES,
        COUNT(DISTINCT client_id) AS QTDE_CLIENTES,
        SUM(CAST(REPLACE(amount, '$', '') AS DECIMAL(10,2))) AS TOTAL_TRANSACOES,
        COUNT(DISTINCT card_id) AS QTDE_CARTOES,
        COUNT(DISTINCT merchant_id) AS QTDE_COMERCIANTES,
        SUM(CASE WHEN is_fraud != 'No' THEN 1 ELSE 0 END) AS QTDE_FRAUDES
    FROM
        tb_abt_01
    GROUP BY
        ANO
    ORDER BY
        ANO                  
''').show(20, truncate=False)

+----+---------------+-------------+----------------+------------+-----------------+------------+
|ANO |QTDE_TRANSACOES|QTDE_CLIENTES|TOTAL_TRANSACOES|QTDE_CARTOES|QTDE_COMERCIANTES|QTDE_FRAUDES|
+----+---------------+-------------+----------------+------------+-----------------+------------+
|2010|1240880        |1137         |54232556.12     |2896        |27901            |2573        |
|2011|1290770        |1167         |55778904.96     |3137        |28153            |37          |
|2012|1321672        |1177         |56832410.86     |3245        |28710            |923         |
|2013|1352808        |1190         |58284939.62     |3339        |29280            |1337        |
|2014|1365537        |1195         |58617820.51     |3418        |28987            |664         |
|2015|1388065        |1204         |59514007.43     |3473        |29616            |2189        |
|2016|1392117        |1210         |59844028.90     |3497        |29600            |2448        |
|2017|1399308        |1209         |59628480.63     |3492        |29781            |172         |
|2018|1394792        |1208         |59627317.94     |3488        |29435            |1629        |
|2019|1159966        |1206         |49475055.31     |3437        |27516            |1360        |
+----+---------------+-------------+----------------+------------+-----------------+------------+

- Análise das transações por cartão

In [25]:
query_02 = spark.sql('''
    SELECT 
        has_chip AS CONTEM_CHIP,
        use_chip AS TIPO_USO_CARTAO, 
        COUNT(*) AS QTDE_TRANSACOES,
        SUM(CASE WHEN is_fraud != 'No' THEN 1 ELSE 0 END) AS QTDE_FRAUDES
    FROM 
        tb_abt_01
    GROUP BY 
        use_chip, has_chip
    ORDER BY 
        QTDE_TRANSACOES DESC
''').show(20, truncate=False)

+-----------+------------------+---------------+------------+
|CONTEM_CHIP|TIPO_USO_CARTAO   |QTDE_TRANSACOES|QTDE_FRAUDES|
+-----------+------------------+---------------+------------+
|YES        |Swipe Transaction |5774805        |801         |
|YES        |Chip Transaction  |4780818        |3176        |
|YES        |Online Transaction|1419172        |8155        |
|NO         |Swipe Transaction |1192380        |576         |
|NO         |Online Transaction|138740         |624         |
+-----------+------------------+---------------+------------+

- Análise das transações e valores fraudulentos

In [50]:
query_03 = spark.sql('''
    SELECT 
        YEAR(TO_DATE(date, 'yyyy-MM-dd')) AS ANO,
        COUNT(id) AS QTDE_FRAUDES, 
        AVG(CAST(REPLACE(amount, '$', '') AS DECIMAL(10,2))) AS AVG_VALORES_FRAUDES,
        SUM(CAST(REPLACE(amount, '$', '') AS DECIMAL(10,2))) AS SUM_VALORES_FRAUDES,
        MAX(CAST(REPLACE(amount, '$', '') AS DECIMAL(10,2))) AS MAX_VALORES_FRAUDES,
        MIN(CAST(REPLACE(amount, '$', '') AS DECIMAL(10,2))) AS MIN_VALORES_FRAUDES
    FROM
        tb_abt_01
    WHERE 
        is_fraud != 'No'
    GROUP BY
        ANO
    ORDER BY
        ANO
''').show(20, truncate=False)

+----+------------+-------------------+-------------------+-------------------+-------------------+
|ANO |QTDE_FRAUDES|AVG_VALORES_FRAUDES|SUM_VALORES_FRAUDES|MAX_VALORES_FRAUDES|MIN_VALORES_FRAUDES|
+----+------------+-------------------+-------------------+-------------------+-------------------+
|2010|2573        |119.680074         |307936.83          |4978.45            |-497.00            |
|2011|37          |128.254054         |4745.40            |540.30             |-388.00            |
|2012|923         |79.074171          |72985.46           |1073.75            |-492.00            |
|2013|1337        |114.708123         |153364.76          |2263.61            |-493.00            |
|2014|664         |112.793373         |74894.80           |2251.32            |-492.00            |
|2015|2189        |127.794966         |279743.18          |2930.44            |-497.00            |
|2016|2448        |128.202745         |313840.32          |2505.58            |-500.00            |
|2017|172         |89.525930          |15398.46           |1198.72            |-143.00            |
|2018|1629        |80.009810          |130335.98          |1343.48            |-484.00            |
|2019|1360        |85.590875          |116403.59          |1244.41            |-475.00            |
+----+------------+-------------------+-------------------+-------------------+-------------------+

- Análise da distribuição das transações por faixa etária

In [49]:
query_03 = spark.sql('''
SELECT
    CASE
        WHEN current_age BETWEEN 0 AND 10 THEN '0-10'
        WHEN current_age BETWEEN 11 AND 20 THEN '11-20'
        WHEN current_age BETWEEN 21 AND 30 THEN '21-30'
        WHEN current_age BETWEEN 31 AND 40 THEN '31-40'
        WHEN current_age BETWEEN 41 AND 50 THEN '41-50'
        WHEN current_age BETWEEN 51 AND 60 THEN '51-60'
        WHEN current_age BETWEEN 61 AND 70 THEN '61-70'
        WHEN current_age BETWEEN 71 AND 80 THEN '71-80'
        WHEN current_age BETWEEN 81 AND 90 THEN '81-90'
        ELSE '90+'
    END AS age_range,
    COUNT(*) AS QTDE_TRANSACOES,
    SUM(CASE WHEN is_fraud != 'No' THEN 1 ELSE 0 END) AS QTDE_FRAUDES
FROM tb_abt_01
GROUP BY age_range
ORDER BY age_range
''').show(20, truncate=False)

+---------+---------------+------------+
|age_range|QTDE_TRANSACOES|QTDE_FRAUDES|
+---------+---------------+------------+
|21-30    |428671         |318         |
|31-40    |2377562        |2041        |
|41-50    |3396784        |3234        |
|51-60    |2943032        |2880        |
|61-70    |2105384        |2479        |
|71-80    |970658         |1136        |
|81-90    |864655         |1077        |
|90+      |219169         |167         |
+---------+---------------+------------+

In [25]:
import sys

try:
    sys.exit()
except SystemExit:
    print('Encerrando o script, mas mantendo o ambiente interativo ativo.')

Encerrando o script, mas mantendo o ambiente interativo ativo.