# Modelagem preditiva
_Machine Learning_

---

## Sumário

1. **Importação de bibliotecas**
2. **Carregamento das bases**
3. **Preparação dos dados**
    - 3.1. Exibição dos metadados
    - 3.2. Preparação das bases de treino e teste
        - 3.2.1. Análise de cardinalidade
        - 3.2.2. Variáveis não aplicáveis à modelagem
        - 3.2.3. Segmentação das bases **train** e **test**
        - 3.2.4. Transformação das features das bases **train** e **test**
4. **Modelagem preditiva**


<br>

---

<br>

## 1. Importação de bibliotecas

In [1]:
# Importação de pacotes e definição de parâmetros globais

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
import time
import optuna

from pathlib import Path

d:\PROJETOS\deteccao_de_fraude_em_transacoes_financeiras\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Configurações para exibição de dados no Jupyter Notebook

# Configurar para exibir todas as colunas do Dataframe
pd.set_option('display.max_columns', None)

# Configurar para exibir o conteúdo completo das colunas
pd.set_option('display.max_colwidth', None)

# Configurar a supressão de mensagens de aviso durante a execução
warnings.filterwarnings('ignore')

# Configurar o estilo do Seaborn
sns.set(style='whitegrid')

## 2. Carregamento das bases

In [3]:
# Efetuando a limpeza de memória antes do carregamento dos dados

print(f'\nQuantidade de objetos removidos da memória: {gc.collect()}')

Quantidade de objetos removidos da memória: 0

In [4]:
# Caminho base
base_path = Path('dados/dados_transformados_parquet/')

# Mapeamento nome_variavel: nome_arquivo
files = {
    'df_train': 'df_train.parquet',
    'df_val': 'df_val.parquet',
    'df_test': 'df_test.parquet'
}

# Carrega os DataFrames no dicionário
temp_dfs = {}
for var_name, file_name in files.items():
    try:
        temp_dfs[var_name] = pd.read_parquet(base_path / file_name)
    except Exception as e:
        print(f'Erro ao carregar {file_name}: {e}')

# Atribui às variáveis explicitamente
df_train, df_val, df_test = [temp_dfs[name] for name in ['df_train', 'df_val', 'df_test']]

In [5]:
# Exibindo da volumetria dos dados

print('\nVOLUMETRIA')
for name, df in temp_dfs.items():
    print(f'\n{name}')
    print('-' * 45)
    print(f'Quantidade de linhas (registros):  {df.shape[0]:,}')
    print(f'Quantidade de colunas (variáveis): {df.shape[1]:,}')

VOLUMETRIA

df_train
---------------------------------------------
Quantidade de linhas (registros):  3,566,068
Quantidade de colunas (variáveis): 157

df_val
---------------------------------------------
Quantidade de linhas (registros):  891,518
Quantidade de colunas (variáveis): 157

df_test
---------------------------------------------
Quantidade de linhas (registros):  2,194,300
Quantidade de colunas (variáveis): 157

## 3. Preparação dos dados

### 3.1. Exibição dos metadados

In [6]:
# Função para geração de um dataframe de metadados

def generate_metadata(dataframe):
    '''
    Gera um DataFrame contendo metadados das colunas do DataFrame fornecido.

    :param dataframe: DataFrame
        DataFrame para o qual os metadados serão gerados.
    :return: DataFrame
        DataFrame contendo os metadados.
    '''
    metadata = pd.DataFrame({
        'Variável': dataframe.columns,
        'Tipo': dataframe.dtypes,
        'Qtde de nulos': dataframe.isnull().sum(),
        '% de nulos': round((dataframe.isnull().sum() / len(dataframe)) * 100, 2),
        'Cardinalidade': dataframe.nunique(),
    }).sort_values(by='Qtde de nulos', ascending=False).reset_index(drop=True)

    return metadata

In [7]:
# Exibe todas as linhas temporariamente
with pd.option_context('display.max_rows', None):
    display(generate_metadata(df_train))

,Variável,Tipo,Qtde de nulos,% de nulos,Cardinalidade
0,errors,object,3509183,98.40,22
1,card_std_last_1h,float64,3330323,93.39,76361
2,card_std_last_2h,float64,3257852,91.36,94894
3,client_std_last_1h,float64,3208485,89.97,103217
4,card_std_last_4h,float64,3138945,88.02,127133
5,client_std_last_2h,float64,3061631,85.85,144174
6,card_std_last_8h,float64,2952306,82.79,186123
7,client_std_last_4h,float64,2829237,79.34,222446
8,card_std_last_12h,float64,2809989,78.80,241142
9,client_std_last_8h,float64,2481589,69.59,373961
10,card_std_last_24h,float64,2274597,63.78,535483
11,client_std_last_12h,float64,2234334,62.66,513339
12,card_std_last_48h,float64,1586319,44.48,1132158
13,client_std_last_24h,float64,1392038,39.04,1234340
14,card_std_last_72h,float64,1159765,32.52,1632817
15,client_std_last_48h,float64,630391,17.68,2323413
16,zip,float64,443513,12.44,22507
17,card_std_last_7d,float64,430696,12.08,2757251
18,merchant_state,object,419621,11.77,191
19,client_std_last_72h,float64,315756,8.85,2924704
20,card_std_last_14d,float64,125134,3.51,3338268
21,card_std_last_21d,float64,49987,1.40,3483680
22,client_std_last_7d,float64,35457,0.99,3508575
23,card_std_last_30d,float64,20611,0.58,3534869
24,card_std_last_45d,float64,8353,0.23,3552667
25,client_std_last_14d,float64,3296,0.09,3558593
26,client_std_last_21d,float64,1466,0.04,3560586
27,client_std_last_30d,float64,1273,0.04,3560851
28,client_std_last_45d,float64,1241,0.03,3560849
29,birth_year,int32,0,0.00,74
30,retirement_age,int32,0,0.00,27
31,current_age,int32,0,0.00,74
32,id_client,int32,0,0.00,1219
33,card_on_dark_web,object,0,0.00,1
34,year_pin_last_changed,int32,0,0.00,19
35,acct_open_date,datetime64[ns],0,0.00,294
36,credit_limit,int64,0,0.00,2603
37,num_cards_issued,int32,0,0.00,3
38,has_chip,object,0,0.00,2
39,cvv,int32,0,0.00,983
40,expires,datetime64[ns],0,0.00,180
41,card_number,int64,0,0.00,4070
42,card_type,object,0,0.00,3
43,card_brand,object,0,0.00,4
44,client_id_card,int32,0,0.00,1219
45,id_card,int32,0,0.00,4070
46,mcc,int32,0,0.00,109
47,merchant_id,int32,0,0.00,49082
48,merchant_city,object,0,0.00,11237
49,use_chip,object,0,0.00,3
50,client_id,int32,0,0.00,1219
51,card_id,int32,0,0.00,4070
52,amount,float64,0,0.00,51589
53,id,int32,0,0.00,3566068
54,date,datetime64[ns],0,0.00,2350353
55,credit_score,int32,0,0.00,281
56,num_credit_cards,int32,0,0.00,9
57,birth_month,int32,0,0.00,12
58,gender,object,0,0.00,2
59,address,object,0,0.00,1219
60,latitude,float64,0,0.00,740
61,debt_to_income,float64,0,0.00,1155
62,years_acct_open,int32,0,0.00,30
63,age_group,category,0,0.00,4
64,time_diff_client_card,float64,0,0.00,53451
65,monthly_income,float64,0,0.00,1201
66,amount_income_ratio,float64,0,0.00,2304609
67,credit_score_category,category,0,0.00,5
68,flag_risky_chip_use,int64,0,0.00,1
69,is_online_transaction,int64,0,0.00,2
70,merchant_category_diversity,int64,0,0.00,60
71,code,int32,0,0.00,109
72,description,object,0,0.00,108
73,longitude,float64,0,0.00,859
74,per_capita_income,int64,0,0.00,1120
75,yearly_income,int64,0,0.00,1201
76,total_debt,int64,0,0.00,1150
77,month,int32,0,0.00,12
78,year,int32,0,0.00,10
79,quarter,int32,0,0.00,4
80,day_of_year,int32,0,0.00,366
81,weekday,int32,0,0.00,7
82,weekend,int64,0,0.00,2
83,period_of_day,object,0,0.00,4
84,time_diff_transaction,float64,0,0.00,19760
85,high_risk_period,int64,0,0.00,2
86,proportion_high_risk_period,float64,0,0.00,1219
87,mean_amount_by_client,float64,0,0.00,1219
88,flag_above_mean_amount,int64,0,0.00,2
89,transaction_id,float64,0,0.00,3566068
90,is_fraud,object,0,0.00,2
91,hour,int32,0,0.00,24
92,day,int32,0,0.00,31
93,client_mean_last_12h,float64,0,0.00,224729
94,client_sum_last_12h,float64,0,0.00,140959
95,client_mean_last_8h,float64,0,0.00,196465
96,client_sum_last_8h,float64,0,0.00,127292
97,client_sum_last_4h,float64,0,0.00,110910
98,client_mean_last_4h,float64,0,0.00,160451
99,client_sum_last_2h,float64,0,0.00,98751
100,client_mean_last_2h,float64,0,0.00,135151
101,mcc_transaction_ratio,float64,0,0.00,31671
102,most_common_mcc,int32,0,0.00,19
103,client_sum_last_1h,float64,0,0.00,90283
104,client_mean_last_1h,float64,0,0.00,117559
105,merchant_transaction_count,int64,0,0.00,921
106,merchant_id_is_new,int64,0,0.00,2
107,merchant_transaction_ratio,float64,0,0.00,36327
108,client_unique_merchants_count,int64,0,0.00,244
109,distance_from_center,float64,0,0.00,89
110,center_lon,float64,0,0.00,898
111,center_lat,float64,0,0.00,773
112,flag_no_chip_darkweb,int64,0,0.00,1
113,online_transaction_ratio,float64,0,0.00,1214
114,state_diversity_per_client,int64,0,0.00,46
115,client_mean_last_72h,float64,0,0.00,929633
116,client_mean_last_7d,float64,0,0.00,1950477
117,client_mean_last_14d,float64,0,0.00,2555570
118,client_sum_last_14d,float64,0,0.00,1246445
119,client_sum_last_7d,float64,0,0.00,1078894
120,client_sum_last_48h,float64,0,0.00,357527
121,client_sum_last_72h,float64,0,0.00,532539
122,client_mean_last_48h,float64,0,0.00,628555
123,client_mean_last_24h,float64,0,0.00,354142
124,client_sum_last_24h,float64,0,0.00,211715
125,card_sum_last_4h,float64,0,0.00,96012
126,card_mean_last_2h,float64,0,0.00,114031
127,card_sum_last_2h,float64,0,0.00,88191
128,card_mean_last_1h,float64,0,0.00,103799
129,card_sum_last_1h,float64,0,0.00,82797
130,client_mean_last_30d,float64,0,0.00,2831348
131,client_sum_last_45d,float64,0,0.00,1088009
132,client_mean_last_45d,float64,0,0.00,3008822
133,client_sum_last_21d,float64,0,0.00,1162644
134,client_mean_last_21d,float64,0,0.00,2704350
135,client_sum_last_30d,float64,0,0.00,1091924
136,card_sum_last_12h,float64,0,0.00,114252
137,card_mean_last_12h,float64,0,0.00,167364
138,card_sum_last_8h,float64,0,0.00,106472
139,card_mean_last_8h,float64,0,0.00,151365
140,card_mean_last_4h,float64,0,0.00,129365
141,card_mean_last_72h,float64,0,0.00,496639
142,card_sum_last_72h,float64,0,0.00,287676
143,card_mean_last_48h,float64,0,0.00,367562
144,card_sum_last_48h,float64,0,0.00,218875
145,card_sum_last_24h,float64,0,0.00,148189
146,card_mean_last_24h,float64,0,0.00,233394
147,card_mean_last_7d,float64,0,0.00,1016375
148,card_sum_last_7d,float64,0,0.00,588891
149,card_sum_last_21d,float64,0,0.00,979457
150,card_mean_last_14d,float64,0,0.00,1638533
151,card_sum_last_14d,float64,0,0.00,875086
152,card_mean_last_21d,float64,0,0.00,1982081
153,card_mean_last_30d,float64,0,0.00,2229247
154,card_sum_last_30d,float64,0,0.00,1010894
155,card_sum_last_45d,float64,0,0.00,1031817
156,card_mean_last_45d,float64,0,0.00,2475546

### 3.2. Preparação das bases de treino e teste

#### 3.2.1. Análise de cardinalidade

In [8]:
# Listando variáveis com determinado valor de cardinalidade

def list_low_cardinality_columns(dataframe, threshold=2):
    '''
    Lista os nomes das colunas de um DataFrame com cardinalidade inferior a um valor dado.

    :param dataframe: pd.DataFrame
        DataFrame a ser analisado.
    :param threshold: int
        Valor de corte para cardinalidade. Default é 2.
    :return: list
        Lista com os nomes das colunas cuja cardinalidade é menor que o threshold.
    '''
    return [col for col in dataframe.columns if dataframe[col].nunique(dropna=False) < threshold]

In [9]:
print('df_train - variáveis com baixa cardinalidade:\n', list_low_cardinality_columns(df_train))
print('\ndf_val - variáveis com baixa cardinalidade:\n', list_low_cardinality_columns(df_val))
print('\ndf_test - variáveis com baixa cardinalidade:\n', list_low_cardinality_columns(df_test))

df_train - variáveis com baixa cardinalidade:
 ['card_on_dark_web', 'flag_risky_chip_use', 'flag_no_chip_darkweb']

df_val - variáveis com baixa cardinalidade:
 ['card_on_dark_web', 'flag_risky_chip_use', 'flag_no_chip_darkweb']

df_test - variáveis com baixa cardinalidade:
 ['card_on_dark_web', 'transaction_id', 'is_fraud', 'flag_risky_chip_use', 'flag_no_chip_darkweb']

#### 3.2.2. Variáveis não aplicáveis à modelagem

In [10]:
# Lista as features de um DataFrame que contêm o termo 'id' no nome.

def list_columns_with_id(dataframe, case_sensitive=False):
    '''
    Lista os nomes das colunas de um DataFrame que contêm 'id' no nome.

    :param dataframe: pd.DataFrame
        DataFrame a ser analisado.
    :param case_sensitive: bool
        Se True, diferencia maiúsculas de minúsculas. Default é False.
    :return: list
        Lista com os nomes das colunas que contêm 'id'.
    '''
    if case_sensitive:
        return [col for col in dataframe.columns if 'id' in col]
    else:
        return [col for col in dataframe.columns if 'id' in col.lower()]

In [11]:
print('df_train - variáveis com termo "id":\n', list_columns_with_id(df_train))
print('\ndf_val - variáveis com termo "id":\n', list_columns_with_id(df_val))
print('\ndf_test - variáveis com termo "id":\n', list_columns_with_id(df_test))

df_train - variáveis com termo "id":
 ['id', 'client_id', 'card_id', 'merchant_id', 'id_card', 'client_id_card', 'id_client', 'transaction_id', 'merchant_id_is_new']

df_val - variáveis com termo "id":
 ['id', 'client_id', 'card_id', 'merchant_id', 'id_card', 'client_id_card', 'id_client', 'transaction_id', 'merchant_id_is_new']

df_test - variáveis com termo "id":
 ['id', 'client_id', 'card_id', 'merchant_id', 'id_card', 'client_id_card', 'id_client', 'transaction_id', 'merchant_id_is_new']

In [12]:
# Criando conjunto de variáveis que serão removidas dos DataFrames

vars_to_remove = ['zip', 'id', 'client_id', 'card_id', 'merchant_id', 'id_card', 'client_id_card', 
                  'id_client', 'transaction_id', 'merchant_id_is_new','card_on_dark_web', 
                  'flag_risky_chip_use', 'flag_no_chip_darkweb']

#### 3.2.3. Segmentação das bases **train** e **test**

In [13]:
# Separando as variáveis preditivas e a variável preditora (alvo)

features = df_train.columns.drop('is_fraud')
features = features.drop(vars_to_remove, errors='ignore')
target = 'is_fraud'

In [14]:
# Separando as variáveis numéricas e categóricas

numerical_features = df_train[features].select_dtypes(exclude=object).columns
categorical_features = df_train[features].select_dtypes(include=object).columns

In [15]:
# Converter todas as colunas categóricas para string

df_train[categorical_features] = df_train[categorical_features].astype(str)
df_val[categorical_features] = df_val[categorical_features].astype(str)
df_test[categorical_features] = df_test[categorical_features].astype(str)

In [16]:
# Removendo as variáveis dos DataFrames de treino e teste

X_train = df_train[features]
y_train = df_train[target]

X_test = df_val[features]
y_test = df_val[target]

#### 3.2.4. Transformação das features das bases **train** e **test**